@import "@/ui/components/globalcss/vars/vars.module.less";

@icon-gap: 5px;
@icon-size: 20px;
@default-icon-size: 20px;
@abspos-measured-icon-size: 32px;
@abspos-offset: calc(@abspos-measured-icon-size / @default-icon-size);
@completed-workname-abspos-offset: calc(@icon-gap * @abspos-offset + @icon-size * @abspos-offset);
@progressbar-border-radius: 3px;

.ProgressDisplay {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .MessageWrapper {
        height: 100px;
        width: 100%;
        display: flex;

        p {
            text-align: center;
            margin: auto;
            color: gray;
        }
    }

    .Item {
        display: flex;
        flex-direction: column;

        .IndeterminableWrapper {
            width: 300px;
            height: 6px;
            background-color: #e0e0e0;
            border-radius: @progressbar-border-radius;
            overflow: hidden;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

            .IndeterminableContainer {

                width: 100%;
                height: 100%;
                background: rgb(0, 122, 255);
                position: relative;
                overflow: hidden;

                .Indeterminable {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(90deg, rgb(0, 122, 255, 0) 0%, rgb(124, 187, 254, 1) 50%, rgb(0, 122, 255, 0) 100%);
                    position: absolute;
                    animation: linear indeterminate 2s infinite;
                    border-radius: 3px;
                    
                    &:nth-child(2) {
                        animation-delay: 1s;
                    }
                    
                    &:nth-child(3) {
                        animation-delay: 2s;
                    }
                }
            }
        }

        .Container {
            display: flex;
            flex-direction: row;
            width: 100%;

            .Name {
                position: absolute;
                font-size: 1rem;
                margin: 0;
                font-variation-settings: "wght" 400;
            }

            svg {
                height: @icon-size;
                width: @icon-size;
                scale: 2;
                position: absolute;
            }

            .Status {
                margin-inline-start: auto;

                p {
                    color: @text-secondary-color;
                    margin: 0;
                }
            }
        }

        progress {
            width: 100%;
            height: 6px;
            border-radius: @progressbar-border-radius; 
        }

        progress::-webkit-progress-bar {
            background-color: #E6E6E6;
            border-radius: 7px;
        }

        progress::-webkit-progress-value {
            background-color: #007AFF;
            border-radius: 7px;
        }
    }

    .Pending {
        animation: linear pending 2s infinite;
    }

    .Blinking {
        animation: linear nameBlinking 2s infinite;

        &:nth-child(2) {
            animation-delay: 1s;
        }
    }
}


@keyframes indeterminate {
    0% {
        left: -100%;
    }
    50% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@keyframes pending {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes nameBlinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}