/* Text */
@font-face {
    font-family: "Regular";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    src: local('Inter'),
         url('../assets/fonts/Inter-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: "Medium";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    src: local('Inter-Medium'),
         url('../assets/fonts/Inter-Medium.ttf') format('truetype'),
}

@font-face {
    font-family: "Semibold";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    src: local('Inter'),
         url('../assets/fonts/Inter-SemiBold.ttf') format('truetype'),
}


/* Display */
.Inter-Display-Regular {
    font-family: Regular;
    letter-spacing: -0.02em;
}

.Inter-Display-Medium {
    font-family: Medium;
    letter-spacing: -0.02em;
}

.Inter-Display-Semibold {
    font-family: Semibold;
    letter-spacing: -0.02em;
}


body {
    font-family: Regular;
    box-sizing: border-box;
    margin: 0;
}